h2  {
        color:  #FFBD33;
        background-color: rgb(0, 0, 0);
}

button  {
                color: magenta;
                background-color: cyan;
}

p   {
        color: olive;
        background: orange;
}